body {
    background-color: rgb(241, 68, 97);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
    font-weight: bold;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 30, 0);
    color: white;
    width: 100px;
    padding: 3px 10px;
    position: absolute;
}

.hidden {
    display: none;
}

#move {
    left: 200px;
}

#change:hover {
    cursor: pointer;
}

#frase {
    position: absolute;
    display: none;
}